<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <style>
        h1 {
            color: brown;
        }

        .quotation {
            width: 100%;
        }

        .quotation, .quotation th, .quotation td {
            border: 1px solid brown;
            border-collapse: collapse;
        }

        .quotation th {
            background-color: black;
            color: white;
        }
    </style>
</head>
<body>
<h1 th:text="${title}"></h1>
<p th:text="'Date:' + ${service.createdAt}"></p>
<table>
    <tr>
        <td th:text="'Materials cost: ' + ${service.materialsCost}"></td>
    </tr>
    <tr>
        <td th:text="'Transportation cost: ' + ${service.transportationCost}"></td>
    </tr>
    <tr>
        <td th:text="'Work hours: ' + ${service.workHours}"></td>
    </tr>
    <tr>
        <td th:text="'VAT: ' + ${service.VAT}"></td>
    </tr>
</table>
<br/>
<table>
    <tr>
        <th>Customer</th>
    </tr>
    <tr>
        <td  th:if="${customer != null}" th:text="'Contact Name: ' + ${customer.name}"></td>
    </tr>
    <tr>
        <td  th:if="${customer != null}" th:text="'Email: ' + ${customer.email}"></td>
    </tr>
    <tr>
        <td  th:if="${customer != null}" th:text="'Phone: ' + ${customer.phone}"></td>
    </tr>
</table>
<br/>
<table class="quotation">
    <tr>
        <th>Pattern #</th>
        <th>Name</th>
        <th>Description</th>
        <th>Duration</th>
        <th>Price</th>
    </tr>
    <tr th:each="item, iterStat: ${patterns}">
        <td th:text="${iterStat.index + 1}"></td>
        <td th:text="${item.name}"></td>
        <td th:text="${item.description}"></td>
        <td th:text="${item.duration}"></td>
        <td th:text="${item.priceWithVAT}"></td>
    </tr>
</table>
<p th:text="'Price without VAT:' + ${service.priceWithoutVAT}"></p>
<p th:text="'Price with VAT:'+ ${service.priceWithVAT}"></p>
</body>
</html>