<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="cs" lang="cs">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <style>
        h1 {
            color: brown;
        }

        .quotation {
            width: 100%;
        }

        .quotation, .quotation th, .quotation td {
            border: 1px solid black;
            border-collapse: collapse;
        }

    </style>
</head>
<body>
<h1 th:text="${title}"></h1>
<p th:text="'Číslo dokladu:' + ${offer.id}"></p>
<p th:text="'Datum vystavení:' + ${offer.createdAt}"></p>
<table>
    <tr>
        <td th:text="'Cena materialů: ' + ${service.materialsCost}"></td>
    </tr>
    <tr>
        <td th:text="'Cena dopravvy: ' + ${service.transportationCost}"></td>
    </tr>
    <tr>
        <td th:text="'Pracnost(h): ' + ${service.workHours}"></td>
    </tr>
    <tr>
        <td th:text="'DPH: ' + ${service.VAT}"></td>
    </tr>
</table>
<br/>
<table>
    <tr>
        <th>Zákazník</th>
    </tr>
    <tr>
        <td  th:if="${customer != null}" th:text="${customer.name}"></td>
    </tr>
    <tr>
        <td  th:if="${customer != null}" th:text="'Email:' + ${customer.email}"></td>
    </tr>
    <tr>
        <td  th:if="${customer != null}" th:text="'Telefon: ' + ${customer.phone}"></td>
    </tr>
</table>
<br/>
<table class="quotation">
    <tr>
        <th>Položka</th>
        <th>Název</th>
        <th>Popis</th>
        <th>Doba trvání</th>
        <th>Cena</th>
    </tr>
    <tr th:each="item, iterStat: ${patterns}">
        <td th:text="${iterStat.index + 1}"></td>
        <td th:text="${item.name}"></td>
        <td th:text="${item.description}"></td>
        <td th:text="${item.duration}"></td>
        <td th:text="${item.priceWithVAT}"></td>
    </tr>
</table>
<p th:text="'Price without VAT:' + ${service.priceWithoutVAT}"></p>
<p th:text="'Price with VAT:'+ ${service.priceWithVAT}"></p>
</body>
</html>