html {
    --lumo-primary-text-color: #fff;
    --lumo-primary-color: #58a813;
}

body {
    line-height: 30px;
    font-size: 15px;
    background-image: url('./images/img.png');
    background-repeat: no-repeat;
    border-radius: 5px;
    background-size: cover;
}

p {
    margin: 0;
    padding: 0;
}

h1, h2 {
    margin: 0;
    padding: 0;
    font-weight: 100;
}

.header {
    background-color: rgba(0, 0, 0, .75);
    max-height: 120px;
}

a {
    text-decoration: none;
    display: inline-block;
    font-weight: 100;
}

a:hover {
    text-decoration: none;
}

a[highlight] {
    font-weight: bold;
}

.items-grid {
    border-radius: 8px;
    margin: 0 auto;
    max-width: 1500px;
    width: 100%;
    height: 100%;
}

.login-view, .title {
    color: white;
}

vaadin-avatar {
    background-color: #ebebeb;
}

.settings {
    background-color: white;
    border-radius: 5px;
}

.title {
    color: white;
}

.edit-form {
    background-color: rgba(255,255,255,0.96);
    border-radius: 5px;
}

.form-title {
    margin: var(--lumo-space-m) 0 0 0;
    font-size: 1.5em;
    font-weight: bold;

}

.filterPart {
    width: 100%;
    justify-content: center;
}

.toolbar {
    width: 100%;
    align-items: center;
    justify-content: center;
    max-width: 1500px;
    margin: 15px auto;
}

.headline {
    font-size: 24px;
    color: white;
    font-family: sans-serif;
}

.anchor-link, label,inner-paging-view {
    color: black;
}

#forgotPasswordButton{
    color: black;
}
.vaadin-vertical-layout{
    width: 100%;
}
.success{
    color: #0f9d58;
}

.cancel{
    color: red;
}

.menu-link {
    display: block;
    margin: 0 auto;
    padding: 10px 37px;
    transition: transform 300ms;
}

.menu-link:hover {
    text-decoration: none;
    color:lightgrey;
}

.menu-link span {
    padding-left: 5px;
}

.menu-button {
    margin: 0 60px;
    font-size: 16px;
}

.edit-view, .offer-details{
    margin: 15px auto;
    max-width: 1500px;
}

.admin-config-view {
    background-color: white;
}