html {
    --lumo-primary-text-color: #fff;
}

body {
    line-height: 30px;
    font-size: 15px;
    /*background-image: linear-gradient(var(--lumo-shade-20pct), var(--lumo-shade-20pct));*/
    background-color: var(--lumo-shade-5pct) !important;
    background-repeat: no-repeat;
    border-radius: 5px;
    background-size: cover;
}

p {
    margin: 0;
    padding: 0;
}

h1, h2 {
    margin: 0;
    padding: 0;
    font-weight: 100;
}

.header {
    background-color: rgba(0, 0, 0, .60);
    max-height: 120px;
}

a {
    text-decoration: none;
    display: inline-block;
    font-weight: 100;
}

a:hover {
    text-decoration: none;
}

a[highlight] {
    font-weight: bold;
}

.items-grid {
    border-radius: 8px;
    margin: 0 auto;
    max-width: 1500px;
    width: 100%;
    height: 100%;
    box-shadow: 0 0 16px 2px var(--lumo-shade-30pct);
}

.login-view, .title {
    color: white;
}

.login-view {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

vaadin-avatar {
    background-color: #ebebeb;
}

.settings {
    background-color: white;
    border-radius: 5px;
}

.title {
    color: white;
}

.edit-form {
    background-color: rgba(255, 255, 255, 0.96);
    border-radius: 5px;
    box-shadow: 0 0 16px 2px var(--lumo-shade-40pct);
}

.form-title {
    margin: var(--lumo-space-m) 0 0 0;
    font-size: 1.5em;
    font-weight: bold;

}

.filterPart {
    width: 100%;
    justify-content: center;
}

.toolbar {
    width: 100%;
    align-items: center;
    justify-content: center;
    max-width: 1500px;
    margin: 30px auto;
    padding: 10px;
    border-radius: 5px;
    background-image: linear-gradient(var(--lumo-shade-30pct), var(--lumo-shade-30pct));
    background-color: var(--lumo-base-color);
    box-shadow: 0 0 16px 2px var(--lumo-shade-20pct);

}

.headline {
    font-size: 24px;
    color: white;
    font-family: sans-serif;
}

.anchor-link, label, inner-paging-view {
    color: black;
}

#forgotPasswordButton {
    color: black;
}

.vaadin-vertical-layout {
    width: 100%;
}

.success {
}

.cancel {
    color: red;
}

.menu-link {
    display: block;
    margin: 0 auto;
    padding: 10px 37px;
    transition: transform 300ms;
}

.menu-link:hover {
    text-decoration: none;
    color: lightgrey;
}

.menu-link span {
    padding-left: 5px;
}

.menu-button {
    margin: 0 60px;
    font-size: 16px;
}

.edit-view, .offer-details {
    margin: 15px auto;
    max-width: 1500px;
}

.offer-details {
    box-shadow: 0 0 16px 2px var(--lumo-shade-30pct);
}

.admin-config-view {
}

.vaadin-grid-cell {
    max-width: 100px;
}

.firm {
    background-image: url('https://img.freepik.com/premium-photo/calculator-blue-background_220873-4028.jpg');
    background-repeat: no-repeat;
    width: calc(var(--lumo-size-m) * 10);
    height: calc(var(--lumo-size-l) * 3);
    text-align: center;
    background-size:     cover;                      /* <------ */
    background-position: center center;
}

.helper-text{
    color: #F57C00;
    font-weight: 700;
}